/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==============
   Global Styling
   ============== 
*/
body,
h1,
h2,
h3,
p {
    margin: 0;
}

p {
    width: fit-content;
    padding: 0;
    margin: 0.5em;
}

/* ==============
   Styling for Temp, Description, Elements, 
   ============== 
*/
.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4rem;
    border: 2px solid #f3eed9;
    border-radius: 2rem;
}

.main-text {
    font-size: 4em;
}

.sub-text {
    font-size: 3em;
}

.title {
    text-align: center;
    color: black;
    /* background-color: aqua; */
}

.subheading {
    text-align: center;
    color: black;
    /* background-color: aqua; */
}

/* ==============
   Begin Background Image styling
   ============== 
*/
.bg-image {
    background: url("/images/kashyyyk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #f3eed9;
    width: auto;
}

/* Cold-day backgrounds */
.hoth-bg {
    background: url("/images/hoth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: black;
}

/* Pretty day backgrounds 60-80f */
.coruscant-bg {
    background: url("/images/coruscant-day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}

.naboo-bg {
    background: url("/images/naboo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}
.naboo-bg-warmer {
    background: url("/images/Naboo-warmer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}

.scariff-bg {
    background: url("/images/Scariff.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: black;
}

/* Forest or Foggy Day Backgrounds */
.endor-bg {
    background: url("/images/endor1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}

.dagobah-bg {
    background: url("/images/dagobah.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}

/* Rainy Backgrounds */
.kamino-bg {
    background: url("/images/kamino.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}

.kashyyk-bg {
    background: url("/images/kashyyyk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}

/* Really hot day Background */
.bespin-bg {
    background: url("/images/bespin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}

.tattoine-bg {
    background: url("/images/tatooine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    color: #f3eed9;
}
