/* CSS Reset */

body {
    /* background-image: url("/images/hoth.jpg"); */
    /* background-color: rgb(132, 149, 167); */
    /* background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh; */
}

.background-image {
    background-repeat: no-repeat;
    /* background-size: cover; */
    overflow: hidden;
    height: 100vh;
}

/* Container for Weather Elements */
.text-container {
    position: absolute;
    bottom: 20px;
    flex-direction: column;
    height: fit-content;
    width: auto;
    padding: 3em;
}

/* temp, weather description, and Star Wars planet styling */
.temp-container {
    border: 2px red solid;
    width: fit-content;
    padding: 0;
    font-size: 2em;
}

.weather-description-container {
    border: 2px red solid;
    width: fit-content;
    padding: 0.2em;
    margin-top: 0.5em;
}

.planet-container {
    border: 2px red solid;
    width: fit-content;
    padding: 0.2em;
    margin-top: 0.5em;
}
