/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* ==============
   Global Styling
   ============== 
*/
body,
h1,
h2,
h3,
p {
    margin: 0;
}

p {
    width: fit-content;
    padding: 0;
}

a {
    color: pink;
}

a:visited {
    color: pink;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: #fff;
    opacity: 90%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: #fff;
    opacity: 90%;
}

/* ==========================================
   Styling for header, Top/Bottom descriptions/headings, center text div containing planet, "its like" and "out there", footer
   ==========================================
*/

.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 50px;
}

/* Search box Start */
.search_box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input_search {
    height: 25px;
    width: 30px;
    border-style: none;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: #343535;
    padding-right: 40px;
    color: #fff;
}

.input_search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
}

.input_search:focus {
    width: 225px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.btn_search {
    width: 30px;
    height: 30px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn_search:focus ~ .input_search {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* 
 Begin page content
} */

.top_container {
    position: absolute;
    left: 15%;
    top: 12%;
    transform: translate(-20%, -20%);
    font-size: 1.2em;
    font-weight: 400;
}

/* Start Center Container */
.center_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center_item_1 {
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.its_like {
    float: left;
    padding-left: 4em;
}

.center_item_2 {
    font-size: 6em;
    font-weight: 400;
    text-transform: uppercase;
}

.planet_name {
    letter-spacing: 0.4em;
    padding-left: 3rem;
}

.center_item_3 {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    right: 11em;
}

.out_there {
    float: right;
    padding-right: 4em;
}

/* Start Bottom Container */
.bottom_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    bottom: 10%;
    transform: translate(-10%, -10%);
    font-size: 1em;
    font-weight: 400;
}

.bottom_item_1 {
    position: relative;
    font-size: 1.3em;
    font-weight: 400;
    flex-wrap: wrap;
    flex-grow: 2;
    max-width: 15rem;
    padding-bottom: 2rem;
}

.bottom_item_2 {
    position: relative;
    font-size: 1em;
}

/* ==============
   Footer Styling
   ============== 
*/

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer_title {
    font-size: 0.9em;
}

.logos {
    margin-left: 10px;
    font-size: 0.9em;
}

/* ==============
   Background Image styling
   ============== 
*/

/* Must use ID because class gets resassigned by JS */
#image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
}

/* Loading Image */
.bg-image {
    background: url("/images/loading-bg.png");
    color: #f1e8d6;
    opacity: 70%;
}

/* Cold-day backgrounds */
.Hoth-bg {
    background: url("/images/hoth.jpg");
}

/* Pretty day backgrounds 60-80f */
.coruscant-bg {
    background: url("/images/coruscant.jpg");
    color: #fcfbf9;
}

.naboo-bg-warmer {
    background: url("/images/naboo1.jpg");
    color: #fcfbf9;
    text-shadow: rgb(3, 3, 3) 1px 0 10px;
}

.scariff-bg {
    background: url("/images/Scariff.jpg");
    color: #0a0803;
    text-shadow: rgb(245, 245, 243) 1px 0 10px;
}

/* Forest or Foggy Day Backgrounds */
.endor-bg {
    background: url("/images/endor1.jpg");
    color: #fcfbf9;
}

.dagobah-bg {
    background: url("/images/dagobah.jpg");
}

/* Rainy Backgrounds */
.kamino-bg {
    background: url("/images/kamino.png");
    color: #f1e8d6;
}

.kashyyk-bg {
    background: url("/images/kashyyyk.jpg");
}

/* Really hot day Background */
.bespin-bg {
    background: url("/images/bespin.jpg");
}

.tattoine-bg {
    background: url("/images/tatooine.jpg");
    color: #f1e8d6;
}

/* 
Mobile Query
*/

@media screen and (max-width: 592px) {
    /* Start Center Container */
    .center_container {
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .center_item_1 {
        font-weight: 500;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    .its_like {
        float: none;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .center_item_2 {
        font-size: 3em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0.3em;
    }

    .planet_name {
        letter-spacing: 0.4em;
        padding-left: 0;
    }

    .center_item_3 {
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.3em;
    }

    .out_there {
        float: none;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
